
expose:
  Annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-delete-policy: hook-succeeded
  config:
    exposer: Ingress
    http: true
    tlsacme: false

cleanup:
  Args:
    - --cleanup
  Annotations:
    helm.sh/hook: pre-delete
    helm.sh/hook-delete-policy: hook-succeeded

elastic-preview:
  enabled: false
  name: elasticsearch
  fullnameOverride: elasticsearch
  appVersion: "5.6"
  image:
    repository: elasticsearch
    tag: "5.6"
  cluster:
    name: foxsports_conductor_elasticsearch_cluster
    additionalJavaOpts: -XX:MaxMetaspaceSize=256m
    plugins:
    - x-pack # Needs to be installed for x-pack options to work even though they are all false by default...
    config:
      thread_pool.search.queue_size: 2000
  master:
    replicas: 2
    persistence:
      enabled: false
    resources:
      limits:
        cpu: "2000m"
        memory: "1Gi"
      requests:
        cpu: "2000m"
        memory: "1Gi"       
  data: 
    persistence: 
      enabled: false      
  client:
    exposeTransportPort: true
    resources:
      limits:
        cpu: "1000m"
        memory: "1Gi"
      requests:
        cpu: "1000m"
        memory: "1Gi"
    ingress:
      enabled: false

kibana:
  enabled: true

redis:
  enabled: true
  usePassword: false
  cluster:
    enabled: false
  
rq_service:
  name: rq-dashbord
  type: ClusterIP
  externalPort: 9181
  internalPort: 9181
  annotations:
    fabric8.io/expose: "true"
    fabric8.io/ingress.annotations: "kubernetes.io/ingress.class: nginx"

    

diskover:
  image:
    preview_repository:
    preview_tag:
    pullPolicy: IfNotPresent
  redis_host: preview-redis-master
  elasticsearch_host: preview-elasticsearch-client
  crawlapi:
    url: http://restful-filesystem.web-staging.dev.cluster.foxsports-gitops-prod.com.au/api

